
{% extends "hub/menu_base.html" %}

{% block baseheader %}

	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.6/js/jquery.dataTables.min.js"></script>

	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.6/css/jquery.dataTables.css">
	<!-- <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"> -->

	{% block currheader %}
	{% endblock %}

	<style>

		#main_div_curriculums {
			margin: 10px;
			font-family: verdana, sans-serif;
	    	font-size: 13px;
		}

	</style>

{% endblock %}


{% block basebody %}

<div id="main_div_curriculums">

	{% block currbody %}
	{% endblock %}

</div>


{% endblock %}
