
{% extends "hub/menu_base.html" %}

{% block baseheader %}

<link rel="stylesheet" type="text/css" href="/static/curriculums/js/datatables/media/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="/static/curriculums/js/datatables/media/css/jquery.dataTables_themeroller.css">
<link rel="stylesheet" href="/static/curriculums/js/datatables/extensions/TableTools/css/dataTables.tableTools.min.css" />

<script src="/static/curriculums/js/datatables/media/js/jquery.js" type="text/javascript"></script>
<script src="/static/curriculums/js/datatables/media/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="/static/curriculums/js/datatables/extensions/TableTools/js/dataTables.tableTools.min.js" type="text/javascript"></script>
<script src="/static/curriculums/js/datatables/extensions/jquery.dataTables.columnFilter2.js" type="text/javascript"></script>

{% block currheader %}
{% endblock %}

<style>

    #main_div_curriculums {
        margin: 10px;
        font-family: verdana, sans-serif;
        font-size: 13px;
    }

</style>

{% endblock %}


{% block basebody %}

<div id="main_div_curriculums">

    <div id="curriculums_menu">
        <a href="/curriculums/backend/"> Tots els currículums </a> || <a href="/curriculums/backend/prefs"> Currículums preferits </a>
    </div>

    {% block currbody %}
    {% endblock %}

</div>


{% endblock %}
