{% extends "curriculums/backend/base.html" %}

{% block currheader %}

<style>
	#vistacurriculum td {
		padding: 7px;
		border: 1px solid black;
	}
</style>

{% endblock %}

{% block currbody %}

	<h1> Vista d'un curriculum </h1>

	<table id="vistacurriculum">
		<tbody>

			<tr><td>Nom</td><td>{{cr.nom}}</td></tr>
			<tr><td>Llinatges</td><td>{{cr.llinatges}}</td></tr>
			<tr><td>Població</td><td>{{cr.poblacio}}</td></tr>
			<tr><td>Telèfon</td><td>{{cr.telefon}}</td></tr>

			{% if cr.categoria == 'D' %}

			<tr><td>Tito11 genèric</td><td>{{cr.titol1_generic.nom}}</td></tr>
			<tr><td>Titol1 nom</td><td>{{cr.titol1_nom}}</td></tr>
			<tr><td>Titol1 universitat</td><td>{{cr.titol1_uni}}</td></tr>
			<tr><td>Titol1 data obtenció</td><td>{{cr.titol1_data}}</td></tr>

			<tr><td>Titol2 genèric</td><td>{{cr.titol2_generic.nom}}</td></tr>
			<tr><td>Titol2 nom</td><td>{{cr.titol2_nom}}</td></tr>
			<tr><td>Titol2 universitat</td><td>{{cr.titol2_uni}}</td></tr>
			<tr><td>Titol2 data obtenció</td><td>{{cr.titol2_data}}</td></tr>

			<tr><td>Titol3 genèric</td><td>{{cr.titol3_generic.nom}}</td></tr>
			<tr><td>Titol3 nom</td><td>{{cr.titol3_nom}}</td></tr>
			<tr><td>Titol3 universitat</td><td>{{cr.titol3_uni}}</td></tr>
			<tr><td>Titol3 data obtenció</td><td>{{cr.titol3_data}}</td></tr>

			{% else %}

			<tr><td>Categoria laboral</td><td>{{cr.categoria_laboral_nodocent}}</td></tr>

			{% endif %}

			<tr><td>Ref1</td><td>{{cr.ref1}} ({{cr.ref1_email}})</td></tr>
			<tr><td>Ref2</td><td>{{cr.ref2}} ({{cr.ref2_email}})</td></tr>
			<tr><td>Ref3</td><td>{{cr.ref3}} ({{cr.ref3_email}})</td></tr>

			<tr><td>Currículum</td><td> <a href="/curriculums/backend/download/{{cr.id}}"> link </a></td></tr>

		</tbody>
	</table>


{% endblock %}
