<div style="float:right;">
<a href="/curriculums/backend/download/{{cr.id}}">Descarrega <img src="/static/curriculums/img/pin.png" alt="Descarrega" style="width: 22px;"></a>
</div>
<div style="float:left; width:100%">
<h2>{{cr.llinatges}}, {{cr.nom}}</h2>

<h3>Dades de contacte</h3>
<ul>
<li>Població: {{cr.poblacio}}</li>
<li>Telèfon: {{cr.telefon}}</li>
<li>Correu electrònic: <a href="mailto:{{cr.email}}">{{cr.email}}</a></li>
</ul>

{% if cr.categoria == 'D' %}
<h3>Dades acadèmiques</h3>
<ul>
    {% if cr.titol1_generic.nom %}<li>{{cr.titol1_generic.nom}} - {{cr.titol1_nom}} - {{cr.titol1_uni}} en data {{cr.titol1_data}}</li>{% endif %}
    {% if cr.titol2_generic.nom %}<li>{{cr.titol2_generic.nom}} - {{cr.titol2_nom}} - {{cr.titol2_uni}} en data {{cr.titol2_data}}</li>{% endif %}
    {% if cr.titol3_generic.nom %}<li>{{cr.titol3_generic.nom}} - {{cr.titol3_nom}} - {{cr.titol3_uni}} en data {{cr.titol3_data}}</li>{% endif %}
</ul>
{% else %}
<h3>Categoria laboral</h3>
<ul>
    <li>{{cr.categoria_laboral_nodocent}}</li>
</ul>
{% endif %}

<h3>Referències</h3>
<ul>
    {% if cr.ref1 %}<li>{{cr.ref1}} (<a href="mailto:{{cr.ref1_email}}">{{cr.ref1_email}}</a>)</li>{% endif %}
    {% if cr.ref2 %}<li>{{cr.ref2}} (<a href="mailto:{{cr.ref2_email}}">{{cr.ref2_email}}</a>)</li>{% endif %}
    {% if cr.ref3 %}<li>{{cr.ref3}} (<a href="mailto:{{cr.ref3_email}}">{{cr.ref3_email}}</a>)</li>{% endif %}
</ul>

<h3>Observacions</h3>
<textarea id="textareaobs">{% if cr.observacions %}{{ cr.observacions }}{% endif %}</textarea>
<input type="submit" value="Actualitzar" id="submitobs"/>
</div>

<script type="text/javascript">
    var csrftoken = getCookie('csrftoken');

    $("#submitobs").prop( "disabled", true );

    $("#textareaobs").on('change keyup paste', function() {
        console.log("EPA");
        $("#submitobs").prop( "disabled", false );
    });

    $("#submitobs").click(function() {
        var obs = $("#textareaobs").val();
        $.post("/curriculums/backend/actualitzar_observacions/", {
            'crid': '{{ cr.id }}',
            'observacions': obs,
            'csrfmiddlewaretoken': csrftoken
        }, function(data) {
            $("#submitobs").prop( "disabled", true );
        });
    });
</script>
