{% extends "curriculums/backend/base.html" %}

{% block currheader %}

<style>
    #vistacurriculum td {
        padding: 7px;
        border: 1px solid black;
    }
</style>


<script type="text/javascript">
    function preferit(id, option){
        $.ajax({
                url: "/curriculums/backend/setPref/" + id + '/' + option,
                data: {},
                type: "GET",
                complete: function(resposta){
                location.reload();
                }
        });
    }

    $(document).ready(function () {

    $(".veurecurr").click(function() {
    var currid = $(this).attr("currid");
            $("#dialog").load("/curriculums/backend/show/" + currid).dialog({
    modal: true,
            width: 700
    });
    });
            $("#tcurriculums").dataTable({
    "language": {
    "aria": {
    "sortAscending": ": ordena de manera ascendent",
            "sortDescending": ": ordena de manera descendent"
    },
            "emptyTable": "Sense dades",
            "info": "Mostrant _START_ a _END_ de _TOTAL_ registres",
            "infoEmpty": "Registre no trobat",
            "infoFiltered": "(filtrat de _MAX_ registres total)",
            "lengthMenu": "Mostrar _MENU_ registres",
            "search": "Cerca:",
            "zeroRecords": "No s'han trobat resultats.",
            "paginate": {
            "previous": "Anterior",
                    "next": "Següent"
            }
    },
            "bStateSave": true,
            "iCookieDuration": 365 * 60 * 60 * 24, //1 any
            "aaSorting": [[0, 'asc']],
            "sDom": "<'dt_header'<'row-fluid'<'span6'l><'span6'T>>r>t<'dt_footer'<'row-fluid'<'span6'i><'span6'p>>>",
            "aoColumnDefs": [{"bSortable": false, "aTargets": [4]}],
            "oTableTools": {
            "sSwfPath": "/static/curriculums/js/datatables/extensions/TableTools/swf/copy_csv_xls_pdf.swf",
                    "aButtons": [
                    {
                    "sExtends": "copy",
                            "sButtonText": 'Copiar',
                            "oSelectorOpts": {
                            page: 'current'
                            }
                    },
                    {
                    "sExtends": "csv",
                            "sButtonText": 'CSV',
                            "oSelectorOpts": {
                            page: 'current'
                            }
                    },
                    {
                    "sExtends": "xls",
                            "sButtonText": 'Excel',
                            "oSelectorOpts": {
                            page: 'current'
                            }
                    },
                    {
                    "sExtends": "pdf",
                            "sButtonText": 'PDF',
                            "oSelectorOpts": {
                            page: 'current'
                            }
                    },
                    {
                    "sExtends": "print",
                            "sButtonText": 'Imprimir'
                    }
                    ]
            },
            "aoColumns": [
                    null,
                    null,
                    null,
                    null,
                    null,
                    null
            ]
    }).columnFilter({
    aoColumns: [
    {type: "select", values: ['Preferits', 'No Pref.']},
    {type: "text"},
    {type: "select"},
    {type: "select", values: [ {% for f in familiatitol %} '{{ f.nom }}', {% endfor %} ]},
    {type: "text"},
            null
    ]

    });
    });
</script>

{% endblock %}

{% block currbody %}

<h1> Vista dels currículums </h1>

<div id="dialog"></div>

<table id="tcurriculums" class="table stripe fixedWidth" cellspacing="0">
    <thead>
        <tr><th>Preferit</th><th>Llinatges, nom</th><th>Categoria</th><th>Títols</th><th>Referències</th><th>Fitxer</th></tr>
    </thead>
    <tbody>
        {% for c in curriculums %}
        <tr>
            <!-- Per marcar com a preferit: get a  /curriculums/backend/setPref/{{cr.id}}/(y|n) -->
            <td style="text-align: center;">{% if c.preferit %}<span style="display:none;">Preferits</span><img src="/static/curriculums/img/like.png" alt="like" style="cursor: pointer" onclick="preferit({{c.id}}, 'n');">{% else %}<span style="display:none;">No Pref.</span><img src="/static/curriculums/img/like2.png" alt="dontlike" style="cursor: pointer" onclick="preferit({{c.id}}, 'y');">{% endif %}</td>
            <td> <a currid="{{c.id}}" href="#" class="veurecurr">{{ c.llinatges }}, {{ c.nom }} </a> </td>
            <td>
                {% if c.categoria == 'D' %} P. Docent {% else %} No Docent {% endif %}
            </td>

            <td>
                {% if c.titol1_nom %}
                    <span style="display:none;"> {{ c.titol1_generic.familia }} </span>
                    {{ c.titol1_nom }} ({{c.titol1_generic.nom}})
                {% endif %}
                {% if c.titol2_nom %},
                    <span style="display:none;">{{ c.titol2_generic.familia }}</span>
                    {{ c.titol2_nom }} ({{c.titol2_generic.nom}})
                {% endif %}
                {% if c.titol3_nom %},
                    <span style="display:none;">{{ c.titol3_generic.familia }}</span>
                    {{ c.titol3_nom }} ({{c.titol3_generic.nom}})
                {% endif %} </td>

            <td> {% if c.ref1 %}{{c.ref1}} (<a href="mailto:{{c.ref1_email}}">{{c.ref1_email}}</a>){% endif %} {% if c.ref2 %}, {{c.ref2}} (<a href="mailto:{{c.ref2_email}}">{{c.ref2_email}}</a>){% endif %} {% if c.ref3 %}, {{c.ref3}} (<a href="mailto:{{c.ref3_email}}">{{c.ref3_email}}</a>){% endif %} </td>
            <td style="text-align: center;"><a href="download/{{c.id}}"><img src="/static/curriculums/img/pin.png" alt="Descarrega" style="width: 22px;"></a> </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr><th>Tots</th><th>Llinatges, nom</th><th>Categoria</th><th>Títols</th><th>Referències</th><th>Fitxer</th></tr>
    </tfoot>
</table>

{% endblock %}
