<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/curriculums/styles.css">
</head>

<!-- Estils dels forms trets de http://www.sanwebe.com/downloads/74-css-form-samples -->

<body>
    <h1 style="text-align: center"> Candidats CV </h1>

    <div class="form-style-5">
        <form action="/curriculums/next" method="post">
            <fieldset>
                <legend><span class="number">1</span> Indica'ns el teu correu electrònic</legend>
                <input type="email" name="email" placeholder="E-mail">
            </fieldset>
            <fieldset>
                <legend><span class="number">2</span> Tipus de feina </legend>
                <select>
                    <option>Docent</option>
                    <option>No docent</option>
                </select>
            </fieldset>

            <input type="submit" value="Segueix" />
        </form>
    </div>

</body>

</html>
