<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/curriculums/styles.css">
</head>

<body>
    <h1 style="text-align: center"> Formulari CV </h1>

    <div class="form-style-5">
        <form action="/curriculums/next" method="post">
            <fieldset>
                <legend><span class="number">1</span> Indica'ns el teu correu electrònic</legend>
                <input type="email" name="email" placeholder="E-mail">
            </fieldset>

            <input type="submit" value="Segueix" />
        </form>
    </div>

</body>

</html>
