<html>
    <head>
        <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/static/curriculums/css/styles.css">
    </head>

<body>
    <div class="form-esliceu">
        <h3 style="text-align: center">Hem enregistrat la teva petició. Consulta el teu e-mail per continuar.</h3>
        <p style="text-align: center"> Si no veus el missatge que t'hem enviat, consulta a la carpeta de correu brossa. </p>
        <p style="text-align: center">
        <a href="http://www.esliceu.com">Torna a la web d'ES LICEU</a>
        </p>
    </div>
</body>

</html>
